@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SFPRODISPLAYLIGHTITALIC.OTF') format('opentype');
  font-style: italic;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SFPRODISPLAYLIGHTITALIC.OTF') format('opentype');
  font-style: italic;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica,'SF Pro Display', sans-serif;
}

